{% extends "base.html" %}

{% block title %}
    Bernstein Vazirani algorithm
{%endblock %} 

{% block content %}
    <main>
        <section class="container my-5">
            <div class="row">
                <h1>
                    Bernstein Vazirani algorithm
                </h1>
                <div class="col-12 col-lg-7 my-5">
                </div>
                <div class="col-12 col-lg-5">
                    <img
                        class="img-fluid mx-auto d-block"
                        src="{{ url_for('static', filename='img/illustration.png') }}"
                        alt=""
                    />
                </div>
            </div>
        </section>
    </main>
{% endblock %}