{% extends "base.html" %}

{% block title %}
    Grover algorithm
{%endblock %} 

{% block content %}
    <main>
        <section class="container my-5">
            <div class="row">
                <h1>
                    Grover algorithm
                </h1>
                <div class="col-12 col-lg-7 my-5">
                    <form method="post">
                        <input type="submit" name="submit_button" value="Презентация" class="button px-5 py-3 btn">
                        <input type="submit" name="submit_button" value="Упражнения" class="button px-5 py-3 btn">
                    </form>
                </div>
                <div class="col-12 col-lg-7 my-5">
                    <h3>
                        Classical computing
                    </h3>
                    <div class="row justify-content-center mt-3">
                        <form method="post">
                            <input type="submit" name="submit_button" value="Classical solution" class="button px-5 py-3 btn">
                        </form>
                    </div>
                </div>
                <div class="col-12 col-lg-7 my-5">
                    <h3>
                        Quantum computing
                    </h3>
                    <div class="row justify-content-center mt-3">
                        <form method="post">
                            <input type="submit" name="submit_button" value="Quantum solution" class="button px-5 py-3 btn">
                        </form>
                    </div>
                </div>
                <div class="col-12 col-lg-7 my-5">
                    <h2>
                        More examples
                    </h2>
                </div>
                <div class="col-12 col-lg-7 my-5">
                    <h3>
                        Solving Sudoku
                    </h3>
                    <div class="row justify-content-center mt-3">
                        <form method="post">
                            <input type="submit" name="submit_button" value="Sudoku Quantum solution" class="button px-5 py-3 btn">
                        </form>
                    </div>
                </div>
            </div>
        </section>
    </main>
{% endblock %}