{% extends "base.html" %}

{% block title %}
    Квантовые алгоритмы
{%endblock %} 

{% block content %}
    <main>
        <section class="container my-5">
            <div class="row">
                <h1>
                    Квантовые алгоритмы
                </h1>
                <div class="col-12 col-lg-7 my-5">
                    <ul class="nav nav-pills">
                        <li class="nav-item pe-5">
                            <a class="nav-link" href="{{ url_for('bernsteinvazirani_algorithm_view') }}">
                                Bernstein Vazirani algorithm
                            </a>
                        </li>
                    </ul>
                    <ul class="nav nav-pills">
                        <li class="nav-item pe-5">
                            <a class="nav-link" href="{{ url_for('grover_algorithm_view') }}">
                                Grover algorithm
                            </a>
                        </li>
                    </ul>
                    <ul class="nav nav-pills">
                        <li class="nav-item pe-5">
                            <a class="nav-link" href="{{ url_for('quantumteleportation_algorithm_view') }}">
                                Quantum Teleportation algorithm
                            </a>
                        </li>
                    </ul>
                    <ul class="nav nav-pills">
                        <li class="nav-item pe-5">
                            <a class="nav-link" href="{{ url_for('shor_algorithm_view') }}">
                                Shor's algorithm
                            </a>
                        </li>
                    </ul>
                    <ul class="nav nav-pills">
                        <li class="nav-item pe-5">
                            <a class="nav-link" href="{{ url_for('simon_algorithm_view') }}">
                                Simon algorithm
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </section>
    </main>
{% endblock %}