{% extends "base.html" %}

{% block title %}
    Quantum Teleportation algorithm
{%endblock %} 

{% block content %}
  <main>
    <section class="container my-5">
      <div class="row">
        <h1>
          Quantum Teleportation algorithm (Transmission of quantum information)
        </h1>
        <div class="col-12 col-lg-7 my-5">
          <form method="post">
            <input
              type="submit"
              name="submit_button"
              value="Вычислять"
              class="button px-5 py-3 btn"
            >
            <a
              href="/static/files/quantum_teleportation_algorithm/QTAPresentation.pdf"
              target="_blank"
              class="button px-5 py-3 btn">
                Презентация
            </a>
            <a
              href="/static/files/quantum_teleportation_algorithm/QTAExercises.pdf"
              target="_blank"
              class="button px-5 py-3 btn">
                Упражнения
            </a>
          </form>
        </div>
      </div>
    </section>
  </main>
{% endblock %}