{% extends "base.html" %}

{% block title %}
    Shor algorithm
{%endblock %} 

{% block content %}
    <main>
        <section class="container my-5">
            <div class="row">
                <h1>
                    Shor algorithm
                </h1>
                <div class="col-12 col-lg-7 my-5">
                    <form method="post">
                        <input type="submit" name="submit_button" value="QFT" class="button px-5 py-3 btn">
                        <input type="submit" name="submit_button" value="Circuit - QFT" class="button px-5 py-3 btn">
                    </form>
                </div>
            </div>
        </section>
    </main>
{% endblock %}